@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    box-sizing: border-box;
    color: #fff;
}

body{
    min-height: 100vh;
    background: #0E1015 !important;
    font-family: 'Alegreya Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.login-form{
    width: 360px;
    background: #232323;
    height: 480px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: 5s rgb infinite;
}

.login-form h1{
    text-align: center;
    margin-bottom: 60px;
}

.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.txtb span::after{
    content: '';
    position: absolute;
    color: #636e72;
    width: 0%;
    height: 2px;
    transition: .5s;
}

.focus + span::before{
    top: -5px;
}
.focus + span::after{
    width: 100%;
}

.logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: #2C2F33 !important;
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    border-radius: 10px;
}

.logbtn:hover{
    background-position: right;
    background: #86000d !important;
}

.bottom-text{
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}
.nav a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}
.nav a:hover {
    color: #fff;
    transition: 0.4s;
}
.inter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
}
.logbtn{
    display: block;
    width: 100%;
    height: 50px;
    background: #1c1c1d !important;
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    font-size: 25px;
    text-align: center;
    padding-top: 7px;
    border-radius: 10px;
}
.logout a {
    display: block;
    padding: 20px 30px;
    margin-top: 10px;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    color: darkred;
}
.logout a:hover {
    color: green;
    cursor: pointer;
    transition: 0.4s;
}
.nav .logout a:hover {
    color: red;
    transition: 0.4s;
}
.nav .close {
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 30px
}
.slide a {
    color: #fff;
    font-size: 36px;
}

#content {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
}
.middle{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.counting-sec{
    margin-left: 5%;
    margin-right: 5%;
    background: #1c1c1d !important;
    border-radius: 10px;
}
.inner-width{
    max-width: 1400px;
    margin: auto;
    display: flex;
}
.col{
    flex: 1;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
}
.col i{
    font-size: 40px;
    color: #333;
}
.hover-table-layout {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width:1300px;
    margin:0px 5px;
}
.listing-item {
    display: block;
    margin: 15px 30px;
    background-color: #000;
    border-radius:10px;
    z-index:0;
    cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);

}
.listing-item:hover,  .listing-item.active{
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index:2;

}
.listing-item .listing{
    padding:20px;
    position:relative;
}
.listing-item .listing:before{
    content:"";
    position:absolute;
    top:-15px;
    left:-o-calc(50% - 15px);
    left:-moz-calc(50% - 15px);
    left:-webkit-calc(50% - 15px);
    left:calc(50% - 15px);
    border-bottom:20px solid #fff;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
}
figure.image img {
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
figure.image {
    position: relative;
    margin: 0;
    padding: 0;
}
figure.image figcaption {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    bottom: 4px;
    background: rgba(0,0,0,0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
figcaption .caption{
    position:relative;
    top:50%;
    -moz-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);

}
figcaption h1{
    color:white;
    font-weight:bold;
    font-size:20px;
    text-transform: uppercase;
}
figcaption p{
    color:white;
    font-size:12px;
}
.listing h3{
    border-bottom: white solid 1px;
    text-align: center;
    padding: 20px 10px;
    font-weight: bold;
}
.listing h4:not(:last-child){
    border-bottom: 1px solid #ccc;
}
.listing-item:hover figure.image figcaption{
    background: rgba(195, 39, 43, 0.6);
}
@media only screen and (min-width:540px){
    .listing-item {
        display: block;
        width: -webkit-calc(100%/3);
        width: -moz-calc(100%/3);
        width: calc(100%/3);
    }
}
@media only screen and (min-width:1024px){
    .hover-table-layout{
        padding: 30px;
    }
}